#a1{

    color: red;

    margin: 100px;
    font-size: 40px;

    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;

    padding-left: 800px;


}

#a2{
    color: red;
    background-color: green;

    font-size: 30px;
    margin: 100px;
}

#a3{
    color:chartreuse;
    background-color: crimson;
}
#a3:hover{
    color: darkgreen;
    background-color:burlywood;
}

#a4{
    color: darkgrey;
    background-color: darkkhaki;
    width: 300px;
    border-radius: 50px;
    margin: 50px;
}

#a4:hover{
    color: darkmagenta;
    background-color: darkolivegreen;
    transform: scale(1.5);
}

div {
    border: 1px solid;
    background-color: black;
    color: brown;
}

div.container{
    margin-top: 150px;
}