
#contenido{
    height: 100000px;
    background: #1ba11a url(./img/tile.png);
    width: 965px;
}

#titulo{
    color: rgb(255, 255, 255);
    font-family: helvetic;
    font-size: 100px;
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
}

#subtitulo{
    color: rgb(255, 251, 0);
    font-family: Comic Sans,Comic Sans MS,cursive;
    font-size: 30px;
    text-align: center;
}

#imagen1{
    text-align: center;
    margin-top: 50px;
}

#imagen2{
    text-align: center;
    margin-top: 100px;
    }

#imagen3{
    text-align: center;
    margin-top: 100px;
}

#texto1{
    color: #ffee00;
    font-family: Comic Sans,Comic Sans MS,cursive;
    font-size: 20px;
    margin-top: 100px;
}

#texto2{
    color: white;
    font-family: Comic Sans,Comic Sans MS,cursive;
    font-size: 20px;
    margin-top: 100px;
}

#texto3{
    color: rgb(238, 255, 0);
    font-family: Comic Sans,Comic Sans MS,cursive;
    font-size: 40px;
    margin-top: 100px;
}

#imagen4{
    text-align: center;
    margin-top: 100px;
}

#boton{
    background-color: red;
    padding-top: 100px;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 50px;
    text-align: center;
}

#imagen5{
    padding-top: 50px;
    text-align: center;
}

#final{
    color: white;
    background-color: black;
    padding-top: 100px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    height: 250px;
    margin-top: 50px;
    font-family: Comic Sans,Comic Sans MS,cursive;

}



























































































































































































































































































































































































































#jeje{
    text-align: center;
    padding-top: 93000px;
}

